@model ChocoFreseo.Models.Domain.ZonaEntrega

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ZonaEntrega</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreZona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreZona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoDomicilioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoDomicilioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstimadoMinutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstimadoMinutos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
